html, body, ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

nav {
    background-color: #009bd6;
    height: 80px;
/*    position: fixed;
    width: 100%;*/
}

.title {
    float: left;
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
    color: white;
}

.menu, .menu-footer {
    float: right;
}

.menu, .title {
    padding: 25px 60px;
}

.menu, .menu li, .title {
    display: inline-block;
}

.menu li a {
    color: white;
    text-decoration: none;
    margin: auto 20px;
    font-size: 20px;
}

.menu li a:hover {
    font-weight: 700;
}


header {
    height: 85vh;
    color: white;
    background-image: url(images/laptop.jpg);
    background-size: cover;
}

header .container {
    padding: 100px 80px;
    width: 50%;
}

.tagline {
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 20px;
}

.describe {
    font-weight: 300;
    font-size: 25px;
    padding-bottom: 20px;
    display: block;
}

.button-hero {
    display: inline-block;
    color: #009bd6;
    padding: 17px 50px;
    background: #f5f5fb;
    border: 1px solid #f5f5fb;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
}

.button-hero:hover {
    color: #f5f5fb;
    background: none;
}

/* FOOT */
.contact {
    margin-bottom: 80px;
    margin-top: 90px;
}

.contact h2, .info {
    text-align: center;
}

.contact h2, .contact h3 {
    padding-bottom: 15px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
}

.contact ul li {
    margin-bottom: 8px;
}

.info {
    padding-bottom: 20px;
    border-bottom: 1px solid #dee7ec;
    margin-bottom: 20px;
}

.contact-form, .contact-info {
/*     display: inline-block; */
    vertical-align: top;
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 150px;
}

.contact-info ul {
    list-style-type: none;
}

.fa {
    padding-right: 10px;
}

input, textarea {
width: 300px;
padding: 12px;
margin-top: 10px;
margin-bottom: 15px;
font-size: 15px;
border: 1px solid #dee7ec;
}

.btn-submit {
    background-color: #00b8ff;
    border: 1px solid #00b8ff;
    color: white;
    cursor: pointer;
    padding: 15px 40px;
    border-radius: 4px;
}

.btn-submit:hover {
    background: none;
    color: #00b8ff;
}

footer {
    height: 200px;
    background-color: #00415a;
}

.title-footer {
    float: left;
    text-decoration: none;
    font-size: 35px;
    font-weight: 900;
    color: white;
}

.menu-footer {
    list-style-type: none;
    line-height: 30px;
}

.menu-footer li a {
    text-decoration: none;
    color: white;
}

.menu-footer, .title-footer {
    margin: 25px 100px;
}
