html, body, ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

nav {
    background-color: #009bd6;
    height: 80px;
    display: flex;
    justify-content: space-between;
/*    position: fixed;
    width: 100%;*/
}

.title {
    float: left;
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
    color: white;
}

.menu, .menu-footer {
    float: right;
}

.menu, .title {
    padding: 25px 60px;
}

.menu, .menu li, .title {
    display: inline-block;
}

.menu li a {
    color: white;
    text-decoration: none;
    margin: auto 20px;
    font-size: 20px;
}

.menu li a:hover {
    font-weight: 700;
}


header {
    height: 85vh;
    color: white;
    background-image: url(images/laptop.jpg);
    background-size: cover;
}

header .container {
    width: 50%;
    padding: 5% 10%;
}

.tagline {
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 20px;
}

.describe {
    font-weight: 300;
    font-size: 25px;
    padding-bottom: 20px;
    display: block;
}

.button-hero {
    display: inline-block;
    color: #009bd6;
    padding: 17px 50px;
    background: #f5f5fb;
    border: 1px solid #f5f5fb;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
}

.button-hero:hover {
    color: #f5f5fb;
    background: none;
}
/* Start Layout Main About Us*/
main .container {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
.about-us{
	background: #f9faff;
	padding: 60px 60px;
    overflow: hidden;
}
.about-us-txt{
	float: left;
	width: 60%;
}
.about-us-txt h2 {
	color: #44454f;
	font-size: 40px;
	font-family: 'Lato', serif;
	font-weight: 700;
}
.about-us-txt p {
	color: #888;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	max-width: 1000px;
    margin-top: 32px;
	margin-bottom: 20px;
    line-height: 1.8;
}

.about-us-img  {
	float: right;
	box-shadow: 0 10px 30px rgba(112,134,230,.2);
	z-index: 1;
    width: 40%;
}

.about-us-img img {
    width: 100%;
    display: block;
}

.main-btn{
	display: inline-block;
    color: #f5f5fb;
    padding: 17px 50px;
    background: #009bd6;
    border: 1px solid #009bd6;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.main-btn:hover {
	color:#009bd6;
    background: none;
}
/* Akhir Layout Main About Us*/

/* Start Layout Our Service*/
.our-service {
    margin-bottom: 100px;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
    overflow: hidden;
}

.service-single{
	float: left;
	width: 25%;
}
.heading {
	padding-top: 80px;
	padding-bottom: 50px;
	color: #5f5d60;
}

.heading h2 {
	color: #44454f;
	font-size: 40px;
	font-family: 'Lato', serif;
	font-weight: 700;
}
.heading p {
  color: #888;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	max-width: 1000px;
    margin: 0 auto;
    margin-top: 32px;
    line-height: 1.8;
}

.service-img img{
	height: 65px;
	margin: 30px 0;
}
.service-single {
	max-width: 304px;
    margin: 0 auto;
   	margin-bottom: 15px;
	-webkit-transition: .5s; 
	-moz-transition:.5s; 
	-ms-transition:.5s; 
	-o-transition:.5s;
    transition: .5s;
}
.service-txt h2 a {
	color:#44454f;	
	font-size:24px;
    text-decoration: none;
}

.service-txt p {
	color:#756c6a;	
	font-size:16px;
	font-family: 'Lato', sans-serif;
	line-height: 1.67;
	padding: 30px 10px 10px 10px;
}
.service-single:hover{
	box-shadow:0 5px 20px rgba(112,134,230,.2);
	opacity: 3;
	margin: 30px 0;
}
/* Akhir Layout Our Service*/

/* FOOT */
.contact {
    margin-bottom: 80px;
    margin-top: 90px;
    clear: both;
    color: #44454f;
}

.contact h2 {
    font-size: 40px;
}

.contact h3 {
    font-size: 24px;
}

.contact h2, .info {
    text-align: center;
}

.contact h2, .contact h3 {
    padding-bottom: 15px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
}

.contact ul li {
    margin-bottom: 8px;
}

.info {
    padding: 0 10% 5% 10%;
    border-bottom: 1px solid #dee7ec;
    margin-bottom: 20px;
}

.contact-form, .contact-info {
    vertical-align: top;
    margin-top: 20px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.contact-info ul {
    list-style-type: none;
}

.fa {
    padding-right: 10px;
}

input, textarea {
width: 300px;
padding: 12px;
margin-top: 10px;
margin-bottom: 15px;
font-size: 15px;
border: 1px solid #dee7ec;
}

.btn-submit {
    background-color: #00b8ff;
    border: 1px solid #00b8ff;
    color: white;
    cursor: pointer;
    padding: 15px 40px;
    border-radius: 4px;
}

.btn-submit:hover {
    background: none;
    color: #00b8ff;
}

footer {
    height: 200px;
    background-color: #00415a;
}

.title-footer {
    float: left;
    text-decoration: none;
    font-size: 35px;
    font-weight: 900;
    color: white;
}

.menu-footer {
    list-style-type: none;
    line-height: 30px;
}

.menu-footer li a {
    text-decoration: none;
    color: white;
}

.menu-footer, .title-footer {
    margin: 25px 100px;
}
