@media (max-width: 1000px) {
    header .container {
        width: 70%;
        padding-top: 10%;
    }
    .service-single {
        width: 50%;
        float: none;
        display: inline-block;
    }
    
    .contact-form, .contact-info {
        width: 40%;
    }
    
    .menu, .title {
        padding-right: 30px;
        padding-left: 30px;
}

} 

@media (max-width: 768px) {
    .contact-container {
        display: inline-block;
    }
    
    .contact-form, .contact-info {
        width: 100%;
        padding: 15%;
    }
    
    .menu, .title {
        padding-right: 10px;
        padding-left: 10px;
}
}
