@media (max-width: 1000px) {
    header .container {
        padding-top: 10%;
    }
    .service-single {
        width: 60%;
        float: none;
        display: inline-block;
    }
    
    .contact-form, .contact-info {
        width: 40%;
    }
    
    .menu, .title {
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .about-us-txt p {
        margin-top: 5px;
    }

} 

@media (max-width: 768px) {
    .contact-container {
        display: inline-block;
    }
    
    .contact-form, .contact-info {
        width: 100%;
        padding: 15%;
    }
    
    .menu, .title {
        padding-right: 10px;
        padding-left: 10px;
    }

    .button-hero {
        padding: 16px 25px;
    }
    
    .about-us-img {
        display: none;
    }
    
    .about-us-txt {
        float: none;
        width: 100%;
    }
}

@media (max-width: 480px) {
    nav {
        display: block;
        text-align: center;
    }
    
    nav .title {
        display: block;
    }
    
    .title {
        padding: 10px 0 5px 0;
    }
    
    .menu {
        padding: 10px 0;
    }
    
    footer {
        display: block;
    }
    
    .tagline {
        font-size: 30px;
    }
    
    .describe {
        font-size: 20px;
    }
    
    .button-hero, .main-btn {
        padding: 12px 20px;
        font-size: 15px;
    }
    
    .about-us-txt h2, .heading h2, .contact h2 {
        font-size: 30px;
    }
    
    .service-single {
        width: 80%;
    }
    
    input, textarea {
        width: 60%;
    }
    
    
}

@media (min-width: 1001px) {
    header .container {
        width: 60%;
    }
    
}
